@font-face {
    font-family: 'MS Gothic';
    src: url('/fonts/MS Gothic.ttf');
}

body {
    font-family: 'MS Gothic';
    margin: 0;
    background: url(https://img2.wikia.nocookie.net/__cb20140715140243/yume2kki/images/5/50/Wiki-background) top left repeat;
    background-blend-mode: screen;
    overflow: hidden;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.display--none {
    display: none !important;
}

.jp-word-break {
    white-space: nowrap;
}

.content {
    background: rgba(0,0,0,0.8);
    padding-top: 0.1px;
}

.controls--container {
    position: absolute;
    z-index: 10;
    pointer-events: none;
}

.controls-bottom--container {
    width: 100%;
}

.controls-side--container {
    width: 160px;
    left: 100%;
    margin-top: 14px;
}

.controls {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    text-align: right;
    margin: 10px;
    margin-top: 10px;
    width: calc(100% - 40px);
    min-height: 64px;
    border: 10px solid transparent;
}

.controls__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.controls-top {
    display: block;
    z-index: 10;
}

.controls-bottom, .controls-side {
    pointer-events: none;
}

.controls.visible {
    pointer-events: all !important;
}

.controls-side, .controls-side > .control, .controls-side > .control > button {
    width: 100%;
}

.controls-side > .control {
    padding: 0;
}

.controls-bottom--container--tab {
    position: absolute;
    width: 144px;
    z-index: 5;
    top: calc(100% - 36px);
}

.controls-side--container--tab {
    position: absolute;
    height: 100px;
    z-index: 5;
    top: calc(50% - 64px);
    left: calc(100% - 36px);
    margin-top: 16px;
}

.controls--container--tab__button {
    display: flex;
    align-items: center;
    font-family: 'MS Gothic';
    font-size: 18px;
    border: none;
    background-image: none;
    background-color: rgba(255, 255, 255, 0.25);
}

.controls-bottom--container--tab > .controls--container--tab__button {
    flex-direction: column;
    width: calc(100% - 16px);
    height: 16px;
    padding: 6px 0 24px 0;
    border-radius: 8px 8px 0 0;
}

.controls-side--container--tab > .controls--container--tab__button {
    flex-direction: row;
    height: calc(100% - 16px);
    width: 16px;
    padding: 0 24px 0 6px;
    border-radius: 8px 0 0 8px;
}

.control {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 8px;
}

.loading-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loading-container .loading-container__text {
    font-size: xx-large;
    margin-left: 12px;
}

.loading-container img {
    z-index: 1;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: pixelated;
    height: 25%;
}

.blocker {
    padding: 24px 24px 32px 24px !important;
}

.graph-container {
    width: 100%;
    height: 100%;
}

.graph {
    width: 100%;
    height: 100%;
}

.footer {
    position: absolute;
    padding: 8px;
    padding-left: 4px;
    top: calc(100% - 72px);
    text-align: right;
    height: 26px;
    width: calc(100% - 16px);
    font-family: 'MS Gothic';
    font-size: 18px;
}

label {
    font-size: 18px;
    margin-left: 16px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding-inline-start: 1em;
}

button {
    margin: 8px;
    padding: 4px;
    cursor: pointer;
    font-family: 'MS Gothic';
    font-size: 18px;
    border: 6px solid transparent;
}

a {
    text-decoration: none;
}

a:not(.no-border) {
    padding: 4px;
    font-family: 'MS Gothic';
    font-size: 18px;
    border: 6px solid transparent;
}

input[type='text'], select, .slider {
    margin: 8px;
    padding: 4px;
    font-family: 'MS Gothic';
    font-size: 18px;
    border: 6px solid transparent;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 128px;
    height: 2px;
    padding: 0 4px;
    outline: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 38px;
    border: 6px solid transparent;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    width: 24px;
    height: 38px;
    border: 6px solid transparent;
    cursor: pointer;
}

.modal {
    border: 10px solid transparent;
    padding: 0 32px 24px 24px !important;
    max-width: initial;
    vertical-align: top !important;
    height: 100%;
    transition: height 0.25s;
}

.blocker {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.modal__content {
    margin-right: -32px;
    overflow-x: hidden;
    overflow-y: scroll;
    height: calc(100% + 24px);
}

.modal__content a:not(.no-border) {
    display: inline-block;
    margin-bottom: 24px;
}

.modal__content::-webkit-scrollbar {
    width: 18px;
}

.modal__content::-webkit-scrollbar-track {
    border: 10px solid transparent;
    background-color: rgba(255, 255, 255, 0.25);
    margin-top: 24px;
}

.modal__content::-webkit-scrollbar-thumb {
    border: 6px solid transparent;
}

.modal__content::-webkit-scrollbar-button {
    height: 0px !important;
}

.modal__content--localized {
    padding-bottom: 16px;
}

a.close-modal {
    display: flex !important;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    text-indent: initial !important;
    padding: 5px;
    margin: 0;
    border: none;
    top: -10px !important;
    right: -10px !important;
}

.collectables-container {
    display: flex;
    flex-wrap: nowrap;
    margin: 24px;
    width: calc(200% - 96px);
}

.collectables-container__items, .collectables-container__borders {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.collectables-container__borders {
    margin-left: -50%;
}

.collectable {
    margin: 12px;
    margin-bottom: 12px !important;
    padding: 12px;
}

.collectable--border {
    margin: 22px;
    padding: 10px !important;
    background-image: none !important;
    border-width: 12px !important;
    z-index: 1;
}

.collectable--border:not([data-world-id]) {
    filter: grayscale(1);
}

.menu-theme > img {
    width: 200px;
    height: 200px;
    image-rendering: pixelated;
}

.menu-theme.collectable--border {
    min-width: 160px;
    width: 160px;
    height: 160px;
}

.menu-themes__previous-methods-title > h2, .menu-themes__previous-methods-title > hr {
    margin-left: 48px;
    margin-right: 48px;
}

.autocomplete-suggestions {
    border: 6px solid transparent;
    overflow: auto;
}

.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-suggestions strong {
    font-weight: normal;
}

.autocomplete-group {
    padding: 2px 5px;
}

.autocomplete-group strong {
    display: block;
    border-bottom: 1px solid #000;
}

.graph-tooltip, .scene-tooltip {
    font-family: 'MS Gothic' !important;
    font-size: 16px !important;
    padding: 4px;
    border: 6px solid transparent;
}

.scene-nav-info {
    display: none;
}

.node-label__value, .menu-theme-tooltip__world {
    font-weight: bold;
}

.node-label__world, .menu-theme-tooltip__world {
    display: inline-block;
    width: 100%;
    padding-bottom: 0.5em
}

.node-label__world {
    text-align: center;
}

.menu-theme-tooltip {
    position: absolute;
    max-width: 480px;
    z-index: 2;
}

.context-menu-list {
    border: 0 !important;
    padding: 0 !important;
}

.context-menu-item {
    border: 6px solid transparent;
}

.admin-only {
    display: none;
}

.data-issues__container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 32px;
}

.data-issues-module {
    padding: 0 24px 24px 0;
}